/creacion_base/__pycache__
creacion_base/__pycache__/view.cpython-38.pyc
creacion_base/__pycache__/tkReg.cpython-38.pyc
creacion_base/image137.png
creacion_base/image233.png
creacion_base/imagenn.png
creacion_base/image317.png
creacion_base/image3172.png
creacion_base/logoiiksw.png