{% extends "layout.html" %} {% block content %}
    <meta http-equiv="refresh" content="3"> 
    <table class="table">
        <thead>
            <tr>
                <th>Potenciómetro digital</th>
                <th>Revoluciones por minuto</th>
                <th>Diferencial de voltaje</th>
                <th>Voltaje</th>
                <th>Tiempo</th>
                <th>Voltaje Entregado</th>
                <th>Diferencial de voltaje (entrada)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in datos %}
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not bandera %}
    <a href="/graficarmostrar">Mostrar</a>
    {% endif %}
    {% if bandera %}
    <div class="container">
        <img src="{{ url_for('static' , filename = 'img/image.jpg') }}" alt="gráfica">
        <form action="/Regresar" method="post">
            Nombre del Reporte: <input type="text" name="nombre"><br>
            <button type="submit" name="action"> 
                <i>Send</i>
            </button>
        </form>
    </div>
    {% endif %}
{% endblock %}