{% extends "layout.html" %} {% block content %}
    <meta http-equiv="refresh" content="3"> 
    <table class="table table-bordered">
        <thead>
            <tr class="bg-danger">
                <th>Potenciómetro digital</th>
                <th>Revoluciones por minuto</th>
                <th>Diferencial de voltaje (in)</th>
                <th>Voltaje (in)</th>
                <th>Diferencial de voltaje (out)</th>
                <th>Voltaje (out)</th>
                <th>Tiempo</th>
                <th>Potencia</th>
                <th>Eficiencia del generador</th>
                <th>Eficiencia de la turbina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in datos %}
                <td>{{ i.0 }}</td> 
                <td>{{ i.1 }}</td>
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
                <td>{{ i.5 }}</td>
                <td>{{ i.6 }}</td>
                <td>{{ i.7 }}</td>
                <td>{{ i.8 }}</td>
                <td>{{ i.9 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not bandera %}
    <a type="button" href="/graficarmostrar" class="btn btn-outline-secondary btn-lg">Mostrar</a><br>
    {% endif %}
    {% if bandera %}
    <div class="container">
        <img src="{{ url_for('static' , filename = 'img/image.jpg') }}" alt="gráfica">
        <img src="{{ url_for('static' , filename = 'img/imageEfmotor.jpg') }}" alt="gráfica">
        <img src="{{ url_for('static' , filename = 'img/imageEfTurbina.jpg') }}" alt="gráfica">
        <form action="/Regresar" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInput">Name</label>
                  Nombre del Reporte: <input type="text" name="nombre" placeholder="Asigne un Nombre al Reporte"><br>
                  Correo electrónico: <input type="text" name="correo" placeholder="Escriba su correo electrónico"><br>
                </div>
                </div>
            <!--Nombre del Reporte: <input type="text" name="nombre" placeholder="Asigne un Nombre al Reporte"><br>-->
            <button type="submit" class="btn btn-outline-primary btn-lg" name="action"> 
                <i>Send</i>
            </button>
        </form>
    </div>
    {% endif %}
{% endblock %}