{% extends "layout.html" %} {% block content %}
<br>
<br>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="container">
                                <div class="container">
                                    <h1 class="display-4">Sistema de adquisición de datos.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead">Este sistema de adquisición de datos fue desarrollado para la turbina helicoidal.</p>
            <hr class="my-4">
            <p>Elija una opción.</p>
            <div class="row">
                <div class="col s6">
                    <a type="button" href="/EncendidoArduino" class="btn btn-outline-success btn-lg">Begin test</a><br>
                </div>
                <div class="col s6">
                    <a type="button" href="/Ruta" class="btn btn-outline-danger btn-lg">Query</a><br>
                </div>
                <div class = "col s6">
                    <a type="button" href="/Reportes" class="btn btn-outline-primary btn-lg">View reports</a><br>
                </div>
                <div class="col s6">
                    <a type="button" href="" class="btn btn-outline-warning btn-lg">Exit</a><br>
                </div>
            </div>
          </div>
    </div>
{% endblock %}