{% extends "layout.html" %} {% block content %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Enviar a correo electrónico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in datos %}
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
                <td> <form action="/EnviarReporte/{{ i.2 }}" method="POST">
                    Correo Electrónico: <input type="text" name = "correo" placeholder="Correo electrónico">
                    <button type="submit" class="btn btn-outline-info" name="action">
                        <i>Send</i>
                    </button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}